*.o
*.Po

.*.swp
.directory

odr-dabmux
odr-zmq2farsync
odr-zmq2edi
zmqinput-keygen
src/dabOutput/.deps/
src/dabOutput/.dirstamp

aclocal.m4
build-aux
configure
Makefile.in
Makefile
autom4te.cache
config.h
config.log
config.status
lib/Makefile
src/Makefile
stamp-h1
config.h.in~
config.h.in
.deps
.dirstamp
*.plist

cscope.out
ctags
tags
.clang_complete
